 .main-body {
    background-image: url("resourses/background-body.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.logo{
    background-image: url("resourses/logo.svg");
    height: 100px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
@font-face {
    font-family:"Quicksand";
    src: url("font/Quicksand-Medium.ttf");
}

@font-face {
    font-family:"honey";
    src: url("font/HoneyScript-Light.ttf");
}

*{font-family:"Quicksand";
font-size: 14px;}

.title01{
    font-family:honey;
    font-size: 50px;
    letter-spacing: 3px;
    font-weight: bold;
}

.background{
    background-image: url("resourses/background.svg");
background-position: center;
background-size:contain ;
background-repeat: no-repeat;
}

.title02{
    font-size: 25px;
    font-weight: bold;
    font-family:"Quicksand";
}

.cart-icon{
    background-image: url("resourses/cartico.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}